.auth-layout {
	background: #fff;
	background-image: url('~assets/img/gray_blur.webp');

	&__main {
		min-height: 100vh;
		max-width: 1200px;
		margin: 0 auto;
		padding: 115px 15px 15px;
		transition: filter .2s ease-in-out;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__container {

		display: flex;
		align-items: center;
	}

	@media (max-width: 768px) {
		&__main {
			min-height: calc(100vh - 66.66667px);
			padding: 81.6666666667px 15px 15px;
		}
	}
}
